server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/eduapp_db
    driver-class-name: org.postgresql.Driver
    username: postgres
    password: password
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate.format_sql: true

jwt:
  secret: mySecretKey
  expiration: 86400000

gemini:
  api-key: AIzaSyD6abVaNawRpPyRqk4_B8p334EWPIThUWw
  model: gemini-2.5-flash
  api-url: https://generativelanguage.googleapis.com/v1